body {
  background-color: rgb(255, 240, 220);
  color: rgb(73, 73, 73);
  text-align: center;
  padding-top: 80px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}
button {
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
}

button:active {
  background-color: rgb(208, 208, 208);
}