@font-face {
  font-family: "Bogart";
  src: local("Bogart"),
   url(../assets/fonts/Bogart-Regular-trial.ttf) format("truetype");
}
@font-face {
  font-family: "Biotif";
  src: local("Biotif"),
   url(../assets/fonts/Biotif-Regular.ttf) format("truetype");
}
body {
  background-color: rgb(255, 250, 247);
  color: rgb(73, 73, 73);
  text-align: center;
  padding: 100px 6vw;
  /* font-family:  system-ui, Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif; */
}
.content {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 60%;
  background-color: white;
  overflow: hidden;
  padding-bottom: 20px;
  border: solid;
  border-width: 1px;
  border-color: rgb(221, 202, 202);
 
}
div {
  border-radius: 20px;
}
img {
  width: 100%;
  height: auto;
}
p {
  margin: 20px 30px;
  font-family:  "Biotif", system-ui, Helvetica Neue, Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: rgb(105, 105, 105);
  padding: 0 20px;
  text-align: left;
}
h1 {
  font-family: "Bogart", sans-serif;
  font-size: 70px;
  color: black;
}
button:hover {
  cursor: pointer;
  /* background-color: rgb(236, 236, 236); */
}
button {
  border-radius: 10px;
  /* background-color: rgb(244, 244, 244); */
}